.Rhistory
practice.html
jupyter_notebook
template_all_annotations-Artboard_8.png
template_all_annotations-full-interactions.svg
template_all_annotations-full.png
template_all_annotations-medium.png
template_all_annotations-mobile-interactions.svg
template_all_annotations-mobile.png
template_all_annotations.html
